<h1>Annotations App</h1>

<% if current_user %>
<div>
  <p>Welcome, <%= current_user.display_name %>.</p>
  <h1>Image Viewer</h1>
  <div id="viewer"></div>
</div>
<% else %>
<div>
  <p>Welcome to the annotations server, please <%= link_to "log in", user_cas_omniauth_authorize_path %>.</p>
</div>
<% end %>
